name: Unit tests

on:
  push:
    branches:
      - integration
    paths:
      - src/**
      - tests/**
      - pyproject.toml

  pull_request:
    branches:
      - main
    paths:
      - src/**
      - tests/**
      - pyproject.toml
jobs:
  unit_tests:
    name: Run unit tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install UV
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true

      - name: Sync
        run: uv sync

      - name: Install
        run: uv run esgvoc install

      - name: Library Tests
        run: uv run pytest tests

      - name: CVs Tests branch esgvoc_dev
        run: uv run pytest tests/integration/test_all_cvs.py -m cvtest -v
